* {  
  margin: 0;
  padding: 0;
}

/* mi css */
body {
  font-family: "lato", serif;
  font-size: 1rem;
  color: #353535;
}

h1 {text-align: center;
  padding: 1rem;
}
/* logo */
.logo {
  width: 100px;
  margin: 0.8rem;
}

/* Navbar */
.Nav-vinos{
  background-color: #33373b;
  padding: 2rem; 
  color:#fff;
}
.menu-vinos {
  color: #fff!important;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.menu-vinos a {
  color: #f2f2f2 !important;
  text-decoration: none;
}
.menu-vinos a:hover {
  color: #f2f2f2 !important;
  font-weight: bold;
}

.dropdown-menu  {
  background-color: #701030 !important;
}
/* prueba */
.custom-dropdown .dropdown-item:focus, 
.custom-dropdown .dropdown-item:active {
 outline: none !important;
 background-color: #fff !important; 
 color: #701030 !important; 
}
.custom-dropdown .dropdown-item:hover {
  background-color: #fff !important; 
  color: #701030 !important; 
}
/* tarjeta de detalle de producto */
a.btn.btn-ver-mas {
  background-color: #701030;
  color: #fff;
  border: none;
  user-select: none;
 }
 a.btn.btn-ver-mas:focus {  
  background-color: #33373b;
  color:#fff;
  border:1px solid #33373b;
}
.Tit-Detail{
  Color:#701030;
}
button.btn.btn-menos {
  background-color:#33373b;
  color:#fff;
  border: #33373b;
  font-weight: 600;  
}
button.btn.btn-menos:focus {
  background-color:#33373b;
  color:#fff; 
  border: #525353;  
}
button.btn.btn-mas{
  background-color:#33373b;
  color:#fff;
  border: #33373b;
  font-weight: 600;
}
button.btn.btn-mas:focus {
  background-color:#33373b;
  color:#fff;
  border: #525353;
}
button.carrito{
  background-color:#701030;
  color:#fff;
  border: none;  
  text-decoration: none;
  border-bottom: #fff;
  border-radius:0.375rem;    
  user-select: none;    
}
button.carrito:active {  
  background-color: #33373b;
  color:#fff;
  border:1px solid #33373b; 
}
/* error 404 */
.text-error {
  color: #701030; 
}
/* .fondo {
  background-image: url(../error2.png);
  background-repeat: no-repeat;
} */
